/* место для вашего кода */
body {
  max-width: 1440px;
  width: 100%;
}

.header {
  display: flex;
  max-width: 1440px;
  min-height: 109px;
  margin: 92px 49px 92px 51px;
}

.header__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: calc((100% - 148px) / 2);
}

.header__links-list {
  display: flex;
}

.header__links-list-item {
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  padding-right: 32px;
  list-style: circle;
  text-underline-offset: 4px;
}

/* посмотреть margin - лишний */

header__links-list-item_no-bullit {
  list-style-type: none;
  padding-right: 26px;
}
.header__link {
  /* а че вообще здесь писать????? */
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 148px;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc((100% - 148px) / 2);
}

.header__address {
  display: flex;
  flex-direction: column;
  text-underline-offset: 4px;
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
  padding-right: 3px;
}

/*height*/
.cover {
  max-width: 1440px;
  width: 100%;
  min-height: 763.939px;
  position: relative;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  display: flex;
  flex-direction: column;
  position: absolute;
  max-width: 1340px;
  min-height: 355px;
  margin: 165px 50px;
  right: 0;
  left: 0;
  z-index: 2;
  color: #FFF;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: flex;
  position: relative;
  max-width: 1340px;
  min-height: 115px;
  margin-bottom: 12px;
}

.aligned-text_center {
  display: flex;
  justify-content: center;
  max-width: 1280px;
  margin-bottom: 5px;
}

.aligned-text_right {
  display: flex;
  justify-content: flex-end;
  max-width: 1340px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}


.cover__description {
  display: flex;
  position: static;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 70px;
  padding-right: 2px;
}

.cover__description-text {
  color: #FFF;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 17px;
  z-index: 3;
}

.bet-button {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-end;
  color: #FFF;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  z-index: 3;
  background-color: transparent;
  margin: 0 50px 0px 85px;
}

/* доделать кнопку засчет отсутствия скрола по горизонтали */
.bet-button_right {
  border: 1px solid #fff;
  text-decoration: none;
  padding: 10px 30px;
  position: relative;
}

.lots {
  max-width: 1440px;
  padding: 172px 50px 3px;
}

.lots__heading {
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  position: relative;
  padding: 0 0 27px 40px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style-type: none;
}

/* подумать min/max width и height*/
.lots__card-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  flex-grow: 1;
  position: relative;
  /* width: 430px; */
  min-height: 450px;
  color: #fff;
}


.card-link {
  display: flex;
  text-decoration: none;
}

/* подумать min/max width и height расширение с flex-basis flex-grow*/
.card {
  width: 100%;
  height: 100%;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  border: 1px solid rgb(0, 0, 0);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
} 

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
} 

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}
/* подумать min/max width и height и в .lots__card-list-item .card  */
.card__title {
  top: 50px;
  width: 350px;
  max-height: 80px;
  position: relative;
  color: #FFF;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}
/* подумать min/max width и height и в .lots__card-list-item .card*/
.card__text {
  bottom: 50px;
  width: 350px;
  max-height: 240px;
  position: relative;
  color: #FFF;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}

.lots__look-more-link {
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: underline;
  text-underline-offset: 5px;
  padding: 29px 0 0 40px;
}

.about {
  max-width: 1340px;
  width: 100%;
  margin: 179px 50px;
}

.about__logo {
   /*7px margin (яда) 1колонки 3ряда*/
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 95px;
  grid-area: 1/1/4/2;
  min-width: 240px;
  min-height: 240px;
  max-width: 148px;
  background-color: #000;
  border-radius: 50% 50%;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

/*вроде не нужен min-height: 388px;*/
.about__column {
  display: grid;
  grid-template-columns: 435px 2fr;
  grid-template-rows: 100px 46px 100px 97px 146px;
  /* grid-template-rows: 100px 46px 100px 97px 25px 119px; */
  align-items: flex-start;
  column-gap: 20px;
}

/*возможно изменить на inline-block*/
.about__title {
  grid-area: 2/2/3/3;
  color: #000;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
/*возможно изменить на inline-block*/
.about__text {
  /* display: inline-block; */
  /* position: absolute; */
  grid-area: 4/2/5/3;
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about__text_second {
  grid-area: 5/2/6/3;
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 23px;
}

.footer {
  display: flex;
  max-width: 1440px;
  min-height: 109px;
}

/* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-rows: 25px 1fr 2fr; */

.footer__address {
  display: flex;
  flex-direction: column;
  text-underline-offset: 4px;
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
  padding-right: 202px;
  padding-bottom: 13px;
}

.footer__menu {
  display: flex;
  justify-content: center;
  width: calc((100% - 148px) / 2);
  padding-right: 33px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__menu-list-item {
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  list-style: circle;
  text-underline-offset: 4px;
  list-style-type: none;
}
/* 
.footer__menu-link {
  а че вообще здесь писать????? 
}
*/

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: flex-end;
  width: calc((100% - 246px) / 2);
  height: 48px;
  padding-right: 17px;
}

/* 
.footer__social-list-item {
  
}

.footer__social-link {

}

.footer__social-icon {
  
}
*/